.creditos {
  font-size: 50%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 167px) {
  html body {
    background-image: url('https://express.adobe.com/0c7bf951-ec3f-43a4-9964-2206bd109429');
  }
}

body {
  background-image: url('https://cdn.wallpapersafari.com/27/95/XZino7.jpg');
  font-family: 'Be Vietnam Pro', sans-serif;
  background-size: cover;
  color: white;
}
